@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<section class="chooseus-section">
    <div class="background-rectangle"></div>
    <div class="container">
        <div class="content-column">
            <div class="section-title">@Model.Value("chooseUsSectionTitle")</div>
            <h2>@Model.Value("chooseUsHeading")</h2>
            <ul>
                 @Html.GetBlockListHtml(Model.ChooseUs)
            </ul>
        </div>
        <div class="image-column">
            @{
                var chooseusImage = Model.Value<MediaWithCrops>("chooseusImage");
                if (chooseusImage != null)
                {
                    <img src="@chooseusImage.MediaUrl()" alt="@Model.Value("chooseUsSectionTitle")">
                }
            }
        </div>
    </div>
</section>