@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;



 <section class="testimonial-section">
        <div class="container">
            <div class="section-border">
                <div class="section-title">@Model.Value("testimonialSectionTitle")</div>
                <h2>@Model.Value("testimonialSectionHeading")</h2>
                <div class="testimonials">
                    @Html.GetBlockListHtml(Model.Testimonial)
                </div>
                <a class="btn-dark" href="@Model.Value("testimonialSectionButtonUrl")">@Model.Value("testimonialSectionButtonText") <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
    </section>