@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}

<section class="contactinfo-section">
    <div class="container">
        <div class="infobox">
            <div class="black-circle"><i class="fa-sharp fa-regular fa-location-dot"></i></div>
            <h5>Visit us</h5>
            <div class="info">
                <p>@Model.Value("contactInformationStreetName")</p>
                <p>@Model.Value("contactInformationPostalCode") @Model.Value("contactInformationCity")</p>
            </div>
        </div>
        <div class="infobox">
            <div class="black-circle"><i class="fa-regular fa-phone-volume"></i></div>
            <h5>Call us</h5>
            <div class="info">
                <p>@Model.Value("contactInformationPhoneNumber1")</p>
                <p>@Model.Value("contactInformationPhoneNumber2")</p>
            </div>
        </div>
        <div class="infobox">
            <div class="black-circle"><i class="fa-regular fa-envelope"></i></div>
            <h5>Email us</h5>
            <div class="info">
                <p>@Model.Value("contactInformationEmail1")</p>
                <p>@Model.Value("contactInformationEmail2")</p>
            </div>
        </div>
    </div>
</section>

<section class="contactform-section">
    <div class="container">
        <h2>Leave us a message for any information.</h2>
        <form asp-controller="" asp-action="" method="post" noValidate>
            <div asp-validation-summary="ModelOnly"></div>
            
            
            
            
            <input asp-for="" type="text" placeholder="Name*">
            <input asp-for="" type="email" placeholder="Email*">
            <textarea asp-for="" placeholder="Your Message*"></textarea>
            
            <div class="d-grid">
                <button type="submit" class="btn-theme">Send Message <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        </form>
    </div>
</section>

<section class="googlemaps-section">
    <iframe class="google-maps" src="@Model.Value("googleMapsURL")" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>










